<html>
  <head>
    <title>First Flask App</title>
    <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='bootstrap.min.css') }}">
  </head>
  <body>
    <div class="jumbotron" style="background-image: url('{{ url_for('static', filename='classic-metro-bike.jpg') }}');">
      <div class="container" style="background-color: rgba(255,255,255,0.8)">
        <h1 class="display-3">Bike N' Ride</h1>
        Forecasting Demand for Metro Bikeshare in LA Downtown
        <br>
        Data Scientist: Jungmo Kim
        <br>
        <br>
        Urban bikeshare systems are a wonderful way to get around a city.
        <br>
        Bikeshare is a great transit option for both commuter and tourist.
        <br>
        However, it can be a frustrating experience to arrive at the 
        <br>
        bike station discover that there are no bikes available. 
        <br>
        The Bike N' Ride app provides not only live station status,
        <br>
        but also number of bikes available next hour on each stations.
        <p>
        <br>
          How many Bikes will be available an hour later?
        </p>
        </p>
        Current time (PST): {{time_info}}
        <p>
          <form action="/get_results" method="post">
            <!-- Input a number: <input type="text" name="number">
            <br>
            User: <select name="user">
              <option value="2206066431492096327">Nicole Andrews</option>
              <option value="2200417693859840681">Christy Faw</option>
              <option value="2373608382922752189">Vladan Stankovic</option>
              <option value="1670504276557824171">Elizabeth Giordano</option>
            </select>
            <br>
            LinkedIn URL: <input type="url" name="linkedin_url">
            <br>
            Restaurant: 
            <select name="restaurant">
              {% for restaurant in restaurants %}
                <option value="{{ restaurant }}">{{ restaurant }}</option>
              {% endfor %}
            </select> -->
            <br>
            Bike Station:
            <select name="station">
              {% for row in reader %}
              <option value="{{ row['station'] }}">{{ row['name'] }}</option>
              {% endfor %}
            </select>
            <br>
            </select>
            <input type="submit" class="btn btn-primary btn-lg" value="Check Availability">
            <br>
            <br>
             The traffic for trip start bike stations with hourly heatmap
            <br>
            <iframe src="{{ url_for('static', filename='heatmaptime_animation.html')}}" frameborder="0" height="600", width="700"></iframe>
          </form>
        </p>
      </div>
    </div>
  </body>
</html>
